<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method='post' action='login' name='form1'>
    	Enter your name : <input type='text' name='name'>
      <input type='hidden' name='roomid' value='<%= roomid %>'>
    </form>
  </body>
</html>